html {
    border: none;
    border-radius: 300px;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    padding: none;
    margin: none;
}

img {
    max-width: 60px;
    margin: none;
    padding: none;
}

.head-2 {
    font-weight: bold;
    display: flex;
    padding-bottom: 15px;
}

.text-field {
    display: flex;
    font-size: 20px;
}

button {
    display: flex;
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    transition: background-color 1s ease; /* Add transition for background color */
    font-family:'Courier New', Courier, monospace;
    border-width: 1px;
    margin-left: 132.5px;
}

body {
    border: none;
    background-color: #ffffff;
    border-radius: 300px;
    color: black;
    font-family:'Courier New', Courier, monospace;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 35px;
    margin-left: 35px;
    min-width: 350px;
    text-align: center;
    align-items: center;
}

a {
    color: black;
    font-size: x-small;
    text-decoration: none;
    margin-top: 20px;
}

/* Source: */
/* https://getcssscan.com/css-buttons-examples */
/* CSS */
.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-family: ITCAvantGardeStd-Bk,Arial,sans-serif; */
  font-size: 16px;
  font-weight: 600px;
  line-height: 20px;
  /* margin: 0 5px 10px 0; */
  overflow: visible;
  padding: 10px 30px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 30px;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}